[Unit]
Description=Auto Monitor Xray Quota & Device
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /usr/bin/monitor_quota.py
Restart=always
RestartSec=10
StandardOutput=append:/var/log/lunatic_quota_monitor.log
StandardError=append:/var/log/lunatic_quota_monitor.log

[Install]
WantedBy=multi-user.target
